<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Hello, List!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">임시</a>
          </li>
          
        </ul>
      </div>
    </nav>

    <h5 class="ml-3 my-2 mt-3" >서버에서 가져온 할일 리스트</h5>
    <br/>
    
    <ul class="list-group">
      <% for(var i = 0; i < posts.length; i++){ %>
      <li class="list-group-item">
        <h4> 할일 제목: <%= posts[i].제목 %> </h4>
        <p>할일 마감날짜: <%= posts[i].날짜 %> </p>
        <button type="submit" class="btn" data-id="<%= posts[i]._id %>">삭제</button>
      </li>
      <% } %>
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script>

      const btns = document.querySelectorAll('.btn');

      
      for (let i = 0; i < btns.length; i++) {
        btns[i].addEventListener('click', clickHandler);
      }

      function clickHandler(e) {
        var 글번호 = e.target.dataset.id;
        console.log(글번호);
        $.ajax({
          method : 'DELETE',
          url : '/delete',
          data : { _id : 글번호 }
        }).done(function(결과){
                  console.log(결과); 

                  // $(this).parent('li').fadeOut();
                // }).fail(function(xhr,code,err){
                //   //AJAX 실패시 실행할 코드적기

        })
      }
      // document.getElementsByClassName('delete').addEventListener('click', function(){
        //   var 글번호 = e.target.dataset.id;
        
        // $.ajax({
        //           method : 'DELETE',
        //           url : '/delete',
        //           data : { _id : 3 }
        //         }).done(function(결과){
        //           console.log(결과); 

                  // $(this).parent('li').fadeOut();
                // }).fail(function(xhr,code,err){
                //   //AJAX 실패시 실행할 코드적기

                // })

      // });

    </script>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>